{% load static %}
{% block tensao %}
<div class="modal modal-sm hidden" id="modal-tipo-alimentacao" tabindex="-1" role="dialog" aria-labelledby="modal-tipo-alimentacao" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="header-modal-tipo-alimentacao">CRITÉRIO TIPO ALIMENTAÇÃO</h6>
        <button type="button" class="close" onclick="$('#modal-tipo-alimentacao').modal('hide')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container border tensions-in-ftag">
            <div class="row mt-2">
               <div class="col-lg-5 px-0 text-center">
                  <b>ALIM.</b>
               </div>
              <div class="col-lg-2 px-0 text-center justify-content-center" id="container-buttons-del">
                  <button type="button" class="btn btn-warning btn-sm " onclick="AddFormsForNewTipoAlim()">+</button>
              </div>
              <div class="col-lg-5 px-0 text-center">
                  <b>CARACTERE</b>
              </div>
            </div>
            <div class="container" id="content-forms-tipo-alim">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="SendTipoAlimFTagBack()">Atualizar</button>
        <button type="button" class="btn btn-dark" onclick="$('#modal-tipo-alimentacao').modal('hide')">Fechar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}