{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <title>Teste</title>
        <script>
            function getInfoPy(){
                let xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", "teste?num=2", false ); // false for synchronous request
                xmlHttp.send( null );
                console.log(xmlHttp.responseText)
            }
        </script>
    </head>
    <body>

        <button type="button" onclick="getInfoPy()">Teste</button>

    </body>
</html>