<!DOCTYPE html>
<html>
	<head>
		<title>A1 Pro</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>
	<script type="text/javascript">
		function openPopup(url){
			x = window.open(url, 'Atividades', 'left=500,top=500,width=363,height=210,toolbar=0,scrollbars=0,status=0,menubar=0');
		}
		function openPopup1(url){
			x = window.open(url, 'Atividades1', 'left=300,top=200,width=632,height=351.5,toolbar=1,scrollbars=0,status=1,menubar=1');
		}
	</script>
	<body>
		<button onclick="openPopup('popup.html')">Abrir</button>
		<button onclick="openPopup1('A1Tip.html')">Abrir</button>
	</body>
</html>