{% extends 'geral/base.html' %}
<!DOCTYPE html>
<html>
{% load static %}
{% block head %}
<title>Tela de Controle</title>
{% endblock %}
{% block help %}
    <h7>Drop List <strong>"Selecionar OS"</strong>> Escolha a OS para visualizar a planilha de controle para aquela OS</h7>
    <br><br>

{% endblock %}
{% block main %}

    <link href="https://cdn.alloyui.com/3.1.1/aui-css/css/bootstrap.min.css" rel="stylesheet"></link>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <style>
    div.scroll {
                margin: 4px, 4px;
                padding: 4px;
                background-color: #08c708;
                width: 300px;
                overflow-x: auto;
                overflow-y: hidden;
                white-space: nowrap;
            }
    </style>

    <div class="row mb-4">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="display-4"><b>Seleção do Projeto de Flexibilidade</b></h1>
      </div>
    </div>

    <div class="row mb-4" style="align-items: center">
        <div class="col-lg-8 mx-auto text-center">
            <div class="bg-white rounded-lg shadow-sm p-5">
                <form role="form" method="POST" enctype="multipart/form-data" id="form">
                    {% csrf_token %}
                    <h2 for="item">  Selecione o Projeto (OS): </h2>
                    <br>
                    <select onchange="storage_os(this.id); this.form.submit();" type="submit" id="num_os" name="os" class="form-control" style="width: 10vw; justify-self: center; margin: auto; font-size: 16px; text-align: center">
                        <option value="selecione">Selecione</option>
                        {% for num_os in list_os %}
                        {% if num_os.Status == "Editável" %}
                        <option style="font-weight: bold" value={{ num_os.num }}>{{ num_os.num }}</option>
                        {% elif num_os.Status == "Somente Leitura" %}
                        <option style="color: gray" value={{ num_os.num }} title="Somente Leitura">{{ num_os.num }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                </form>
            </div>
        </div>
    </div>
    <script>
        function storage_os(id) {
           const num_os = document.getElementById(id).value
           sessionStorage.setItem( 'num_os', num_os );
       }
    </script>

{% endblock %}