{% extends 'geral/base.html' %}
{% load static %}
{% block head %}

<title>A1 Rigidez - Cálculos de Rigidez</title>
{% endblock %}
{% block help %}
<h7>Botão "Escolher" Neste botão você irá selecionar doc. com extensão .xlsx. </h7>
<br><br>
<h7>Opção "Controladoria" Nesta opção você irá revisar somente  listas da controladoria. </h7>
<br><br>
<h7>Opção "Outra lista" Nesta opção você irá revisar as demais listas. </h7>
<br><br>
<h7>Opção "Revisar abas por posição" Nesta opção você irá revisar pelas sequencia numérica das abas. </h7>
<br><br>
<h7>"Chave 1" Neste campo você irá inserir a coluna com ou sem repetição de valores. </h7>
<br><br>
<h7> "Chave 2" Neste campo você irá inserir a coluna  sem repetição de valores(caso a primeira tenha repetição). </h7>
<br><br>
<h7>Botão "Revisar" Neste botão ele realizará a revisão entre os doc. marcando em amarelo o que mudou, mantendo a extensão .xlsx.</h7>
<br><br>
<h7>"Barra de progresso" aguarde o fim do processo para o download dos documentos. </h7>
{% endblock %}
{% block main %}
<style>
  div > h3, div > h1, div > p{
  cursor: default;
}
</style>
<div class="container py-5">
  <!-- Titulo -->
  <div class="row mb-2">
    <div class="col-lg-12 mx-auto text-center">
      <h1 class="display-4"><b>A1 Rigidez - Cálculos de Rigidez Esférica</b></h1>
    </div>
  </div>
  <!-- fim -->
  <div class="row">
    <div class="col mx-auto p-0">
      <div class="bg-white rounded-lg shadow-sm px-5 py-3">
        <!-- card -->
        <div class="tab-content row">
          <!-- informações do card-->
          <div id="nav-tab-card" class="tab-pane fade show active col-12">
              <div>
                <form action="{% url 'download' %}" id="auto-download" method="GET" enctype="multipart/form-data">
                  {% csrf_token %}
                </form>
              </div>
              <form role="form" action="{% url 'a1rev' %}" method="POST" enctype="multipart/form-data" id="form"></form>
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-4 border border-dark" style="padding-top: 15px;border-bottom-width: 0px;border-bottom-style: solid;margin-bottom: 0px;padding-bottom: 15px;">
                    <div>
                      <label><h5><b>Dados de Entrada</b></h5></label>
                    </div>
                    <!-- Campo 1-->
                    <div class="row">
                      <!-- linha 1-->
                      <div class="form-group col-12">
                        <label for="r_esf">Raio do Tampo Esférico RT (mm):</label>
                        <input class="form-control" type="number" id="r_esf" placeholder="Raio em mm">
                        <div class ="invalid-feedback">Caracteres inválidos</div>
                      </div>
                      <!-- Fim-->
                      <!-- linha 2-->
                      <div class="form-group col-12">
                        <label for="esp_tesf">Espessura do Tampo Esférico t (mm):</label>
                        <input class="form-control" type="number" id="esp_tesf" placeholder="Espessura em mm">
                        <div class ="invalid-feedback">Caracteres inválidos</div>
                      </div>
                      <!-- Fim-->
                      <!-- linha 3-->
                      <div class="form-group col-12">
                        <label for="diam_bocal">Diâmetro do Bocal ∅ N (mm):</label>
                        <input class="form-control" type="number" id="diam_bocal" placeholder="Diâmetro em mm">
                        <div class ="invalid-feedback">Caracteres inválidos</div>
                      </div>
                      <!-- Fim-->
                      <!-- linha 4-->
                      <div class="form-group col-12 ">
                        <label for="esp_pad">Espessura do Pad w (mm):</label>
                        <input class="form-control" type="number" id="esp_pad" placeholder="Espessura em mm">
                        <div class ="invalid-feedback">Caracteres inválidos</div>
                      </div>
                      <!-- Fim-->
                      <!-- linha 5-->
                      <div class="form-group col-12 ">
                        <label for="diam_pad">Diâmetro do Pad ∅ P (mm):</label>
                        <input class="form-control" type="number" id="diam_pad" placeholder="Diâmetro em mm">
                        <div class ="invalid-feedback">Caracteres inválidos</div>
                      </div>
                      <!-- Fim -->
                        <!-- linha 6-->
                      <div class="form-group col-12 ">
                        <label for="mod_young">Módulo de Elasticidade do Material (GPa):</label>
                        <input class="form-control" type="number" id="mod_young" placeholder="Módulo de Elasticidade em GPa" value="210">
                        <div class ="invalid-feedback">Caracteres inválidos</div>
                      </div>
                      <!-- Fim-->
                    </div>
                    <div class="form-group col-12 p-0 mb-0 text-center">
                      <button type="button" onclick="env_rig_esf_ajax()" class="btn" style="background-color: #F58C32; color:#ffff;"><b>Calcular Rigidez</b> </button>
                    </div>
                  </div>
                  <!-- Campo 2-->
                  <div class="col-8 border border-dark" style="padding-top: 15px;padding-bottom: 15px; left: 5px;">
                    <div class="row">
                      <div class="form-group marcador col-12">
                        <label style="margin-left: 0px;margin-top: 0px;"><h5><b>Desenho Esquemático</b></h5></label>
                      </div>
                    </div>
                    <div class="row align-items-center text-center">
                      <div class="form-group col-12 justify-content-md-center" >
                        <!-- Carregar os estaticos com load static puxa a referência da pasta -->
                        <img src="{% static 'img\a1_flex_images\a1_rig_tam_img.png' %}">
                      </div> 
                    </div>
                  </div>                
                              <!-- Modal -->
                    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width: 150%;">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"><b>Análise Tampo Esférico</b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="tab-content row">

                              <!-- credit card info-->
                              <div id="nav-tab-card" class="tab-pane fade show active col-12">
                                <div class="row">
                                  <div class="col-lg-4">
                                    <!-- Campo 1-->
                                    <!-- linha 1-->
                                    <div class="row text-center">
                                      <div class="form-group col-12">
                                        <label for="kx_ky">Rigidez Rotacional (Kx e Ky): </label>
                                        <input class="form-control" type="text" id="kx_ky" placeholder="N.m/deg" readonly>
                                      </div>
              
                                      <div class="form-group col-12">
                                        <label for="kz">Rigidez Axial (Kz):</label>
                                        <input class="form-control" type="text" id="kz" placeholder=" N/mm" readonly>
                                      </div>
                                      <div class="form-group col-12">
                                        <button type="button" class="btn" style="background-color: #F58C32; color:#ffff;" data-dismiss="modal" aria-label="Close"><b>Retornar</b>
                                        </button>
                                      </div> 
                                    </div>
                                  </div>
                      
                                  <!-- Campo 2-->
                                   <div class="col-8">
                                     <div class="row">
                                        <div class="form-group marcador col-12">
                                            <div class="form-group col-12 p-0 row justify-content-md-center" >
                                              <!-- Carregar os estaticos com load static puxa a referência da pasta -->
                                              <img class="w-70 rounded" src="{% static 'img\a1_flex_images\a1_rig_rot_img.png' %}" style="width: 18vw ; margin-left: 40px;">
                                            </div> 
                                        </div>
                                      </div>
                                    </div>

                                </div>
                                <div class="row">
                                  <div class="col-12 text-center">
                                    <button class="btn" type="button" data-toggle="collapse" 
                                    style="background-color: #F58C32; color:#ffff" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><b>Análise Tampo Esférico Propriedades</b>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="collapse" id="collapseExample">
                              <div class="card card-body">
                                <div class="row">
                                  <div class="col-lg-4">
                                    <!-- linha 1-->
                                    <div class="row">
                                      <div class="form-group col-12">
                                        <label for="r_pad">Raio efetivo do Pad :</label>
                                        <input class="form-control" type="text" id="r_pad" placeholder="mm4" readonly>
                                      </div>
              
                                      <div class="form-group col-12">
                                        <label for="esp_equiv">A espessura equivalente é:</label>
                                        <input class="form-control" type="text" id="esp_equiv" placeholder="" readonly>
                                      </div>
              
                                      <div class="form-group col-12">
                                        <label for="param">O Parâmetro do tampo é:</label>
                                        <input class="form-control" type="text" id="param" placeholder="" readonly>
                                      </div>
                                    </div>
                                  </div>
              
                                  <!-- Campo 2-->
                                  <div class="col-8" >
                                    <div class="row" style="margin-left: 80px;">
                                      <div class="form-group marcador col-12">
                                        <div class="col-sm-8">
                                          <div class="form-group col-12">
                                            <label for="alpha">O fator Alpha é:</label>
                                            <input class="form-control" type="text" id="alpha" placeholder="" readonly>
                                          </div>
                                          
                                          <div class="form-group col-12">
                                            <label for="beta">O fator Beta é:</label>
                                            <input class="form-control" type="text" id="beta" placeholder="" readonly>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                             </div>
                            </div> 
                         </div>
                        </div>
                      </div> 
                    </div>
                  </div>
                </div>
              </form>  
            </div> 
          </div> 
        </div>
      </div> 
      <br>
    </div>
  </div>
 </div>     
    <script>
        function verify_value_num(item_id, lim) {
          let item_val = parseFloat(document.getElementById(item_id).value);
          let inf_lim = lim[0];
          let sup_lim = lim[1];

          if(!(isNaN(item_val))){  // Caso não seja nulo
            if(typeof(item_val) == 'number'){  //Se o tipo for número
              if (item_val >= inf_lim && item_val <= sup_lim) {//Só é válido se estiver nesse range
                  document.getElementById(item_id).classList.remove('is-invalid');
                  return true
              }
            }  
          }
          return false
        }  

        function env_rig_esf_ajax() {
          let r_esf = parseFloat(document.getElementById('r_esf').value);
            let esp_tesf = parseFloat(document.getElementById('esp_tesf').value);
            let diam_bocal = parseInt(document.getElementById('diam_bocal').value);
            let esp_pad = parseFloat(document.getElementById('esp_pad').value);
            let diam_pad = parseFloat(document.getElementById('diam_pad').value);
            let mod_young = parseFloat(document.getElementById('mod_young').value); // [GPa]
            mod_young = mod_young * 1e3 // [MPa]
            let list_ids = ['r_esf', 'esp_tesf', 'diam_bocal', 'esp_pad', 'diam_pad', 'mod_young'];
            let list_range = [[10,20000], [1,30], [21.3,1321], [0.3, 100], [21.3, 1981.5], [0, 300000]];
            var list_err = [];

            for (idd in list_ids) { if (!(verify_value_num(list_ids[idd], list_range[idd]))) { list_err.push(list_ids[idd]) } }

            if (list_err.length == 0) {
              $.ajax({
                    type: "GET",
                    url: "report",
                    dataType: 'json',
                    data: {'r_esf': r_esf, 'esp_tesf': esp_tesf, 'diam_bocal': diam_bocal, 'mod_young': mod_young, 'esp_pad': esp_pad, 'diam_pad':diam_pad},
                }).done(function (data) {
                    if (Object.keys(data).includes('resposta')){
                        alert(data['resposta'])
                    } else {

                        document.getElementById('kx_ky').value = data['rig_rotac_kx_ky']+ ' N.m/deg';
                        document.getElementById('kz').value = data['rig_axil_Kz']+ ' N.m/mm';
                        document.getElementById('r_pad').value = data['raio_ef_pad']+ ' mm';
                        document.getElementById('esp_equiv').value = data['esp_eq'] + ' mm';
                        document.getElementById('param').value = data['param_cabeca'];
                        document.getElementById('alpha').value = data['fator_alpha'];
                        document.getElementById('beta').value = data['fator_beta'];

                        $('#modal').modal('show')
                    }

                    // TAG = INSERIR TAG Comprimento = 100mm Perfil = W 150 x 13,0 kg/m Rigidez (axial, max, min) = 3486000 10001250  1291500 N/mm
                })
            } else {
                for(err in list_err){ document.getElementById(list_err[err]).classList.add('is-invalid') }
            }
        }
    </script>
{% endblock %}
     

