{% extends 'geral/base.html' %}
{% block head %}
{% endblock %}

{% block help %}
<h7>Botão "Escolher" Neste botão você irá selecionar doc. com extensão .xlsx. </h7>
<br><br>
<h7>Opção "Controladoria" Nesta opção você irá revisar somente  listas da controladoria. </h7>
<br><br>
<h7>Opção "Outra lista" Nesta opção você irá revisar as demais listas. </h7>
<br><br>
<h7>Opção "Revisar abas por posição" Nesta opção você irá revisar pelas sequencia numérica das abas. </h7>
<br><br>
<h7>"Chave 1" Neste campo você irá inserir a coluna com ou sem repetição de valores. </h7>
<br><br>
<h7> "Chave 2" Neste campo você irá inserir a coluna  sem repetição de valores(caso a primeira tenha repetição). </h7>
<br><br>
<h7>Botão "Revisar" Neste botão ele realizará a revisão entre os doc. marcando em amarelo o que mudou, mantendo a extensão .xlsx.</h7>
<br><br>
<h7>"Barra de progresso" aguarde o fim do processo para o download dos documentos. </h7>
{% endblock %}
{% block main %}
<div class="row mb-4">
  <div class="col-lg-8 mx-auto text-center">
    <h1 class="display-4"><b>Gráfico de Gantt</b></h1>
  </div>
</div>

<!-- End -->
<div class="row" >
  <div class="col-lg-10 mx-auto">
    <div class="bg-white rounded-lg shadow-sm p-5">
      <div id="chart_div"></div>
    </div>
  </div>
</div>    
<br>
<button type="button" class="btn btn-primary" onclick="MontaGantt()">Primary</button>

{% endblock %}


