{%extends 'geral/base.html'%}

{% load static %}

{% block head %}
<title>Detalhes Atividade</title>
{% endblock %}

{% block main %}
<style>

[disabled="disabled"] {
    color: #495057;
    background-color: #ffc;
}
        label
        {
            margin-bottom: 0px;
        }
        .loader {
  border: 16px solid #A1A1A1;
  border-top: 16px solid #f6801e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
   display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.input-group-text{
    background-color: gray;// #343A40;
    color: white;
}

</style>
{% load poll_extras %}
{% verify_tool as user_info %}
{% if user_info.A1CIVAtividades %}
<br/>

<p hidden id="IDAtiv">{{ IDAtividade.id }}</p>
<p hidden id="IDStatus">{{ form.Status.value }}</p>

<nav>
    <div class="nav nav-pills mb-3 nav-justified" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-detalhes-gerais" data-toggle="tab" href="#nav_detalhes" role="tab"
           aria-controls="nav_detalhes" aria-selected="true" style="color: #f58323"><b>Detalhes</b></a>
        <a class="nav-item nav-link" id="nav-ProjRef-tab" data-toggle="tab" href="#nav-ProjRef" role="tab"
           aria-controls="nav-ProjRef" aria-selected="false" style="color: #f58323"><b>Projetos de Referência</b></a>
        <a class="nav-item nav-link" id="nav-comentarios-tab" data-toggle="tab" href="#nav-comentarios" role="tab"
           aria-controls="nav-comentarios" aria-selected="false" style="color: #f58323"><b>Comentários/Pedidos</b></a>
        <a class="nav-item nav-link" id="nav-holds-tab" data-toggle="tab" href="#nav-holds" role="tab"
           aria-controls="nav-holds" aria-selected="false" style="color: #f58323"><b>Holds</b></a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav_detalhes" role="tabpanel" aria-labelledby="nav-detalhes-gerais">
        <div class="loader" id="loader" style="height: 200px; width:200px"></div>
        <form method="post" id="FormNaoEnviar">
            {% csrf_token %}

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="{{ form.OS.html_name }}">{{form.OS.label_tag}}</label>
                </div>
                <select disabled="disabled" class="custom-select" id="{{ form.OS.html_name }}" name="{{ form.OS.html_name }}" {%if form.OS.field.required%} required {%endif%}>

                    {% for valor in form.OS %}
                    {%if valor %}
                    {{ valor }}
                    {%endif%}
                    {% endfor %}
                </select>
                <div class="input-group-prepend">
                    <label class="input-group-text" for="{{ form.Disciplina.html_name }}">{{form.Disciplina.label_tag}}</label>
                </div>
                <select disabled="disabled" class="custom-select" id="{{ form.Disciplina.html_name }}" name="{{ form.Disciplina.html_name }}" {%if form.Disciplina.field.required%} required {%endif%}>

                    {% for valor in form.Disciplina %}
                    {%if valor %}
                    {{ valor }}
                    {%endif%}
                    {% endfor %}
                </select>
            </div>





            <div class="input-group mb-3" >
                <div class="input-group-prepend" >
                    <span style="height:38px" class="input-group-text" id="{{ form.CodigoDocumento.id_for_label }}" >{{form.CodigoDocumento.label_tag}}</span>
                </div>
                <input style="height:38px" readonly type="text" name="{{ form.CodigoDocumento.html_name }}" class="form-control" {% if form.CodigoDocumento.value %} value="{{form.CodigoDocumento.value }}" {%endif%} aria-describedby="{{ form.CodigoDocumento.id_for_label }}" {%if form.CodigoDocumento.field.required%} required {%endif%}>

                <div class="input-group-prepend" >
                    <span style="height:38px" class="input-group-text" id="{{ form.Status.id_for_label }}" >{{form.Status.label_tag}}</span>
                </div>
                <input style="height:38px" id="AtividadeStatus" readonly type="text" name="{{ form.Status.html_name }}" class="form-control" {% if form.Status.value %} value="{{form.Status.value }}" {%endif%} aria-describedby="{{ form.Status.id_for_label }}" >

            </div>

            <div class="input-group mb-3" >
                <div class="input-group-prepend" >
                    <span style="height:34px" class="input-group-text" id="{{ form.Revisao.id_for_label }}" >{{form.Revisao.label_tag}}</span>
                </div>
                <input readonly type="text" name="{{ form.Revisao.html_name }}" class="form-control" {% if form.Revisao.value %} value="{{form.Revisao.value }}" {%endif%} aria-describedby="{{ form.Revisao.id_for_label }}" {%if form.Revisao.field.required%} required {%endif%}>
                <div class="input-group-prepend" >
                    <span style="height:34px" class="input-group-text" id="{{ form.QtdDesenhos.id_for_label }}" >{{form.QtdDesenhos.label_tag}}</span>
                </div>
                <input readonly type="text" name="{{ form.QtdDesenhos.html_name }}" class="form-control" {% if form.QtdDesenhos.value %} value="{{form.QtdDesenhos.value }}" {%endif%} aria-describedby="{{ form.QtdDesenhos.id_for_label }}" {%if form.QtdDesenhos.field.required%} required {%endif%}>
                <div class="input-group-prepend" >
                    <span style="height:34px" class="input-group-text" id="{{ form.Tag.id_for_label }}" >{{form.Tag.label_tag}}</span>
                </div>
                <input readonly type="text" name="{{ form.Tag.html_name }}" class="form-control" {% if form.Tag.value %} value="{{form.Tag.value }}" {%endif%} aria-describedby="{{ form.Tag.id_for_label }}" {%if form.Tag.field.required%} required {%endif%}>

            </div>

            <div class="input-group mb-3" >
                <div class="input-group-prepend" >
                    <span style="height:34px" class="input-group-text" id="{{ form.ComentarioCliente.id_for_label }}" >{{form.ComentarioCliente.label_tag}}</span>
                </div>
                <input readonly type="text" name="{{ form.ComentarioCliente.html_name }}" class="form-control" {% if form.ComentarioCliente.value == False %} value="Não" {%else%} value="Sim" {%endif%} aria-describedby="{{ form.ComentarioCliente.id_for_label }}" {%if form.ComentarioCliente.field.required%} required {%endif%}>
                <div class="input-group-prepend" >
                    <span style="height:34px" class="input-group-text" id="{{ form.StatusPDMSEngVolumetrica.id_for_label }}" >{{form.StatusPDMSEngVolumetrica.label_tag}}</span>
                </div>
                <input readonly type="text" name="{{ form.StatusPDMSEngVolumetrica.html_name }}" class="form-control" {% if form.StatusPDMSEngVolumetrica.value %} value="{{form.StatusPDMSEngVolumetrica.value }}" {%endif%} aria-describedby="{{ form.StatusPDMSEngVolumetrica.id_for_label }}" {%if form.StatusPDMSEngVolumetrica.field.required%} required {%endif%}>

            </div>



            <div class="input-group mb-3" >
                <div class="input-group-prepend" >
                    <span style="height:34px" class="input-group-text" id="{{ form.AreaCorrespondente.id_for_label }}" >{{form.AreaCorrespondente.label_tag}}</span>
                </div>
                <input readonly type="text" name="{{ form.AreaCorrespondente.html_name }}" class="form-control" {% if form.AreaCorrespondente.value %} value="{{form.AreaCorrespondente.value }}" {%endif%} aria-describedby="{{ form.AreaCorrespondente.id_for_label }}" {%if form.AreaCorrespondente.field.required%} required {%endif%}>
            </div>

            <div class="input-group mb-3" >
                <div class="input-group-prepend" >
                    <span style="height:34px" class="input-group-text" id="{{ form.Descricao.id_for_label }}" >{{form.Descricao.label_tag}}</span>
                </div>
                <textarea readonly type="text" name="{{ form.Descricao.html_name }}" class="form-control"  aria-describedby="{{ form.Descricao.id_for_label }}" {%if form.Descricao.field.required%} required {%endif%}>{% if form.Descricao.value %}{{form.Descricao.value }}{%endif%}</textarea>
            </div>

            <div class="input-group mb-3" >
                <div class="input-group-prepend" >
                    <span  class="input-group-text" id="{{ form.TipoDocumento.id_for_label }}" >{{form.TipoDocumento.label_tag}}</span>
                </div>
                <select " disabled="disabled" class="custom-select" id="{{ form.TipoDocumento.html_name }}" name="{{ form.TipoDocumento.html_name }}" {%if form.TipoDocumento.field.required%} required {%endif%}>

                {% for valor in form.TipoDocumento %}
                {%if valor %}
                {{ valor }}
                {%endif%}
                {% endfor %}
                </select>
                <div class="input-group-prepend" >
                    <span  class="input-group-text" id="{{ form.Finalidade.id_for_label }}" >{{form.Finalidade.label_tag}}</span>
                </div>
                <select disabled="disabled" class="custom-select" id="{{ form.Finalidade.html_name }}" name="{{ form.Finalidade.html_name }}" {%if form.Finalidade.field.required%} required {%endif%}>

                    {% for valor in form.Finalidade %}
                    {%if valor %}
                    {{ valor }}
                    {%endif%}
                    {% endfor %}
                </select>

            </div>
            <hr/>

            <div id="InformacoesProcesso">

            </div>
            <hr/>
            {% load poll_extras %}
            {% verify_tool as user_info %}
            {% if user_info.A1CIVCadastrarAtividade %}
            <button class="subscribe btn btn-warning  rounded-pill shadow-sm" style="background-color:#ffbe47;" onclick="window.location='/app/civil/EditarAtividade/{{ IDAtividade.id }}';">Editar Atividade</button>
            {% endif %}
             {% if user_info.A1CIVCadastrarAtividade %}
            <button class="subscribe btn btn-danger  rounded-pill shadow-sm" onclick="ModalExcluirAtividade()">Excluir Atividade</button>
            {% endif %}

        </form>
    </div>

    <div class="tab-pane fade" id="nav-holds" role="tabpanel" aria-labelledby="nav-holds-tab">

        <div class="list-group" id="ListGroupHolds">


        </div>
        <br/>
        <button type="button" class="subscribe btn btn-warning  rounded-pill shadow-sm" style="float: right"
                data-toggle="modal" data-target="#CadastrarHold">
            Adicionar Hold
        </button>
        <div class="modal fade" id="CadastrarHold" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Adicionar Hold</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="AdicionarHold">

                            {% csrf_token %}

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span style="height:34px" class="input-group-text"
                                          id="{{ HoldForm.TituloHold.id_for_label }}">{{HoldForm.TituloHold.label_tag}}</span>
                                </div>
                                <input type="text" id="titulo-hold"
                                       name="{{ HoldForm.TituloHold.html_name }}" class="form-control"
                                       {% if HoldForm.TituloHold.value %} value="{{HoldForm.TituloHold.value }}"
                                       {%endif%} aria-describedby="{{ HoldForm.TituloHold.id_for_label }}"
                                       {% if HoldForm.TituloHold.field.required%} required {%endif%}>
                            </div>
                            {% if HoldForm.TituloHold.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ HoldForm.TituloHold.errors }}
                            </div>
                            {%endif%}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span style="height:34px" class="input-group-text"
                                          id="{{ HoldForm.Comentarios.id_for_label }}">{{HoldForm.Comentarios.label_tag}}</span>
                                </div>
                                <textarea id="comentario-hold" style="height: 200px; width: 400px" type="text"
                                          name="{{ HoldForm.Comentarios.html_name }}" class="form-control"
                                          aria-describedby="{{ HoldForm.Comentarios.id_for_label }}"
                                          {%if HoldForm.Comentarios.field.required%} required {%endif%}>{% if HoldForm.Comentarios.value %}{{HoldForm.Comentarios.value }}{%endif%}</textarea>
                            </div>
                            {% if HoldForm.Comentarios.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ HoldForm.Comentarios.errors }}
                            </div>
                            {%endif%}
                            <div id="resultsHold"></div>
                            <div class="modal-footer">

                                <button type="button" class="subscribe btn btn-secondary  rounded-pill shadow-sm"
                                        data-dismiss="modal">Fechar
                                </button>
                                <button type="submit" class="subscribe btn btn-warning  rounded-pill shadow-sm">Salvar
                                </button>

                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade" id="EditarHold" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar Hold</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="AlterarHold">

                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span style="height:34px" class="input-group-text"
                                          id="{{ HoldForm.TituloHold.id_for_label }}">{{HoldForm.TituloHold.label_tag}}</span>
                                </div>
                                <input type="text" id="titulo-hold-editar"
                                       name="{{ HoldForm.TituloHold.html_name }}" class="form-control"
                                       {% if HoldForm.TituloHold.value %} value="{{HoldForm.TituloHold.value }}"
                                       {%endif%} aria-describedby="{{ HoldForm.TituloHold.id_for_label }}"
                                       {% if HoldForm.TituloHold.field.required%} required {%endif%}>
                            </div>
                            {% if HoldForm.TituloHold.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ HoldForm.TituloHold.errors }}
                            </div>
                            {%endif%}

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span style="height:34px" class="input-group-text"
                                          id="{{ HoldForm.Comentarios.id_for_label }}">{{HoldForm.Comentarios.label_tag}}</span>
                                </div>
                                <textarea id="comentario-hold-editar" style="height: 200px; width: 400px" type="text"
                                          name="{{ HoldForm.Comentarios.html_name }}" class="form-control"
                                          aria-describedby="{{ HoldForm.Comentarios.id_for_label }}"
                                          {%if HoldForm.Comentarios.field.required%} required {%endif%}>{% if HoldForm.Comentarios.value %}{{HoldForm.Comentarios.value }}{%endif%}</textarea>
                            </div>
                            {% if HoldForm.Comentarios.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ HoldForm.Comentarios.errors }}
                            </div>
                            {%endif%}


                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span style="height:34px" class="input-group-text"
                                          id="{{ HoldForm.ComentariosEmitidoComHold.id_for_label }}">{{HoldForm.ComentariosEmitidoComHold.label_tag}}</span>
                                </div>
                                <textarea id="comentario-emitido-hold-editar" style="height: 200px; width: 400px" type="text"
                                          name="{{ HoldForm.ComentariosEmitidoComHold.html_name }}" class="form-control"
                                          aria-describedby="{{ HoldForm.ComentariosEmitidoComHold.id_for_label }}"
                                          {%if HoldForm.ComentariosEmitidoComHold.field.required%} required {%endif%}>{% if HoldForm.ComentariosEmitidoComHold.value %}{{HoldForm.ComentariosEmitidoComHold.value }}{%endif%}</textarea>
                            </div>
                            {% if HoldForm.ComentariosEmitidoComHold.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ HoldForm.ComentariosEmitidoComHold.errors }}
                            </div>
                            {%endif%}

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span style="height:34px" class="input-group-text"
                                          id="{{ HoldForm.ComentariosHoldResolvido.id_for_label }}">{{HoldForm.ComentariosHoldResolvido.label_tag}}</span>
                                </div>
                                <textarea id="comentario-hold-resolvido-editar" style="height: 200px; width: 400px" type="text"
                                          name="{{ HoldForm.ComentariosHoldResolvido.html_name }}" class="form-control"
                                          aria-describedby="{{ HoldForm.ComentariosHoldResolvido.id_for_label }}"
                                          {%if HoldForm.ComentariosHoldResolvido.field.required%} required {%endif%}>{% if HoldForm.ComentariosHoldResolvido.value %}{{HoldForm.ComentariosHoldResolvido.value }}{%endif%}</textarea>
                            </div>
                            {% if HoldForm.ComentariosHoldResolvido.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ HoldForm.ComentariosHoldResolvido.errors }}
                            </div>
                            {%endif%}

                            <div id="resultsHoldEditar"></div>
                            <div class="modal-footer">
                                <button id="ExcluirHold" type="button" class="subscribe btn btn-danger  rounded-pill shadow-sm"
                                        data-dismiss="modal">Excluir
                                </button>
                                <button type="button" class="subscribe btn btn-secondary  rounded-pill shadow-sm"
                                        data-dismiss="modal">Fechar
                                </button>
                                <button type="submit" class="subscribe btn btn-warning  rounded-pill shadow-sm">Salvar
                                </button>

                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="nav-ProjRef" role="tabpanel" aria-labelledby="nav-ProjRef-tab">

        <div class="list-group" id="ListGroupProjRef">


        </div>
        <br/>
        <button type="button" class="subscribe btn btn-warning  rounded-pill shadow-sm" style="float: right"
                data-toggle="modal" data-target="#CadastrarProjReferencia">
            Adicionar Projeto de Referência
        </button>

        <!-- Modal -->
        <div class="modal fade" id="CadastrarProjReferencia" tabindex="-1" role="dialog"
             aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Adicionar Projeto de Referência</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="AdicionarReferenciaProjetoPost">

                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span style="height:34px" class="input-group-text"
                                          id="{{ FormProjReferencia.Titulo.id_for_label }}">{{FormProjReferencia.Titulo.label_tag}}</span>
                                </div>
                                <input type="text" id="titulo-referencia"
                                       name="{{ FormProjReferencia.Titulo.html_name }}" class="form-control"
                                       {% if FormProjReferencia.Titulo.value %} value="{{FormProjReferencia.Titulo.value }}"
                                       {%endif%} aria-describedby="{{ FormProjReferencia.Titulo.id_for_label }}"
                                       {% if FormProjReferencia.Titulo.field.required%} required {%endif%}>
                            </div>
                            {% if FormProjReferencia.Titulo.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ FormProjReferencia.Titulo.errors }}
                            </div>
                            {%endif%}

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span style="height:34px" class="input-group-text"
                                          id="{{ FormProjReferencia.Descricao.id_for_label }}">{{FormProjReferencia.Descricao.label_tag}}</span>
                                </div>
                                <textarea id="descricao-referencia" style="height: 500px; width: 400px" type="text"
                                          name="{{ FormProjReferencia.Descricao.html_name }}" class="form-control"
                                          aria-describedby="{{ FormProjReferencia.Descricao.id_for_label }}"
                                          {%if  FormProjReferencia.Descricao.field.required%} required {%endif%}>{% if FormProjReferencia.Descricao.value %}{{FormProjReferencia.Descricao.value }}{%endif%}</textarea>
                            </div>
                            {% if FormProjReferencia.Descricao.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ FormProjReferencia.Descricao.errors }}
                            </div>
                            {%endif%}
                            <div id="results"></div>
                            <div class="modal-footer">
                                <div class="loader" id="loader" style="height: 20px; width:20px"></div>
                                <button type="button" class="subscribe btn btn-secondary  rounded-pill shadow-sm"
                                        data-dismiss="modal">Fechar
                                </button>
                                <button type="submit" class="subscribe btn btn-warning  rounded-pill shadow-sm">Salvar
                                </button>

                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-comentarios" role="tabpanel" aria-labelledby="nav-comentarios-tab">
        <div class="list-group" id="ListGroupComentarios">


        </div>
        <br/>
        <button type="button" class="subscribe btn btn-warning  rounded-pill shadow-sm" style="float: right"
                data-toggle="modal" data-target="#CadastrarComentario">
            Adicionar Comentário
        </button>
        <div class="modal fade" id="CadastrarComentario" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Adicionar Comentário</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="AdicionarComentarioPost">

                            {% csrf_token %}

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span style="height:34px" class="input-group-text"
                                          id="{{ FormComentarios.Comentario.id_for_label }}">{{FormComentarios.Comentario.label_tag}}</span>
                                </div>
                                <textarea id="observacao-comentario" style="height: 500px; width: 400px" type="text"
                                          name="{{ FormComentarios.Comentario.html_name }}" class="form-control"
                                          aria-describedby="{{ FormComentarios.Comentario.id_for_label }}"
                                          {%if FormComentarios.Comentario.field.required%} required {%endif%}>{% if FormComentarios.Comentario.value %}{{FormComentarios.Comentario.value }}{%endif%}</textarea>
                            </div>
                            {% if FormComentarios.Comentario.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ FormComentarios.Comentario.errors }}
                            </div>
                            {%endif%}
                            <div id="resultsComentarios"></div>
                            <div class="modal-footer">

                                <button type="button" class="subscribe btn btn-secondary  rounded-pill shadow-sm"
                                        data-dismiss="modal">Fechar
                                </button>
                                <button type="submit" class="subscribe btn btn-warning  rounded-pill shadow-sm">Salvar
                                </button>

                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
<div class="modal fade" id="MostrarVerificacaoModelo" tabindex="-1" role="dialog"
     aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel12">Escolha a Fase Desejada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <p>
                    <button type="button" style="width: 100%" class="subscribe btn btn-primary  rounded-pill shadow-sm" onclick="window.location='/VerificacaoModelo/{{IDVerificacaoModelo}}'">
                        Verificação
                    </button>
                </p>
                <p>
                    <button type="button" style="width: 100%" class="subscribe btn btn-success rounded-pill shadow-sm" onclick="window.location='/VerificacaoModelo/Correcao/{{IDVerificacaoModelo}}'">Correção
                    </button>
                </p>
                <p>
                    <button type="button" style="width: 100%" class="subscribe btn btn-info  rounded-pill shadow-sm">Verificação de Correção
                    </button>
                </p>


                <div class="modal-footer">

                    <button type="button" class="subscribe btn btn-secondary  rounded-pill shadow-sm"
                            data-dismiss="modal">Fechar
                    </button>


                </div>


            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="ExcluirComentario" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <form method="post" enctype="multipart/form-data">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmação de Exclusão de Comentário</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                        <p> Tem certeza que deseja excluir o Comentário?</p>
                        <br/>

                        <div class="modal-footer" >
                             <div class="loader" id="loaderExcluirComentario" style="height: 50px; width:50px; display: none"></div>
                            <button type="button" class="subscribe btn btn-secondary  rounded-pill shadow-sm"
                                    style="box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9) !important" data-dismiss="modal">Não
                            </button>
                            <button type="button" class="subscribe btn btn-warning  rounded-pill shadow-sm" style="box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9) !important"
                                    onclick="RemoverComentarioBD()">Sim
                            </button>
                        </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="ExcluirAtividadeModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <form method="post" enctype="multipart/form-data">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmação de Exclusão de Atividade</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                        <p> Tem certeza que deseja excluir a atividade?</p>
                        <p> <b>Isso irá remover todos os dados de todas as etapas, incluindo arquivos e notas de verificação</b></p>
                        <br/>

                        <div class="modal-footer" >
                             <div class="loader" id="loaderExcluirAtividade" style="height: 50px; width:50px; display: none"></div>
                            <button type="button" class="subscribe btn btn-secondary  rounded-pill shadow-sm"
                                    style="box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9) !important" data-dismiss="modal">Não
                            </button>
                            <button type="button" class="subscribe btn btn-warning  rounded-pill shadow-sm" style="box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9) !important"
                                    onclick="ExcluirAtividade()">Sim
                            </button>
                        </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% else %}
<h1> Acesso não permitido </h1>
{% endif %}

<script src="{% static 'js/civil/DetalhesAtividade.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/a1civ.css' %}"/>
<link rel="stylesheet" href="{% static 'css/civil/jquery.dataTables.min.css' %}"/>
<script src="{% static 'js/civil/scriptsGerais.js' %}"></script>


{% endblock %}
