<div class="modal-header">
    <h5 class="modal-title" id="caracteristicaosLabel">Característica da O.S </h5>
</div>
<br>
<!--Inicio da Interface-->
  
<div class="row">

    <div class="container">
        <div class="form-group">
            <label for="exampleFormControlInput1">O.S.  N° </label>
            <input type="email" class="form-control" id="exampleFormControlInput1"  >
        </div>    

        <div class="form-group">
            <label for="exampleFormControlSelect1">Tipo de Cabo</label>
            <select class="form-control" id="exampleFormControlSelect1" >
            <option>ALIMENTAÇÃO DE COMANDO</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Folga</label>
            <input type="email" class="form-control" id="exampleFormControlInput1"  >
            <small id="passwordHelpInline" class="text-muted">
                (%)
            </small>
        </div> 
        
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                <label class="form-check-label" for="invalidCheck2">
                Comprimento médio
                </label>
            </div>
        </div>  

        <div class="col-sm-5" >
            <div class="form-group mb-4">Fabricantes
                <td><select multiple style="width: 150px" required class="form-control " id="acess-list" onclick="select_path(this.value)">
                    </select>
                </td>
            </div>
        </div>
    

        <div class="col-sm-5">
            <div class="form-group mb-4">
                <div class="acss1">Fabricantes na   O.S -
                    <td  >
                    <textarea required class="form-control" > </textarea>
                    </td>
                </div>
            </div>
        </div>
    </div>      
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning" >Gravar/Alterar</button>
    <button type="button" class="btn btn-warning">Fechar</button>
</div>
  
  