<div class="modal-body">
    <div class="row"  ><!-- dentro do area-->
        <div style="border-right: 2px solid rgb(161, 158, 158); float: left ; padding-right:30px; height: 990px; ">
            <div class="col-sm-10" style="margin-left: -480px; margin-top: 20px; " >
                <div class="form-group mb-4">
                    <label  for="tipo_os" >
                        Pesquisa
                        <input type="text" list="tipo_os" name="tipo_os" id="tipo_doc" class="form-control" style="width: 150px;">
                        <datalist id="tipo_os">
                            <option value="2123" >2123</option>
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                        </datalist>
                    </label>
                </div>
                <div style="width: 250px;">
                    <input type="checkbox" name="english" value="True"> Excluir Vários Motores 
                </div>
            </div>
        </div>
        <div style="float: left;">        
            <div class="col-sm-8" >
                <div class="form-group mb-4">
                    <label for="tipo_selecao"> 
                        <input type="radio" name="options" value=""><span class = "label-style"> Carga Auxiliar</span>
                        <input type="radio" name="options" value=""><span class = "label-style">  Painel</span>
                        <input type="radio" name="options" value=""><span class = "label-style">  Transformador</span>
                        <input type="radio" name="options" value=""><span class = "label-style">  Todos</span>
                    </label>
                </div>
            </div>
            <!--Inicio campo TAG-->
            <div class="col-sm-5" >
                <div class="form-group mb-4">
                    <td for="tipo_tag">
                        TAG
                        <input type="text" list="tipo_tag" name="tipo_tag"  id="tipo_tag" class="form-control">
                        <datalist id="tipo_tag">
                            <option value="2121">2121</option>
                            <option value="2223">2223</option>
                            <option value="2228">2228</option>
                        </datalist>
                    </td>
                </div>
            </div>
            <!--Fim campo TAG-->
            
            <!--Inicio campo CUB-->
            <div class="col-sm-2" >
                <div class="form-group mb-4">
                    <td for="tipo_tag">
                        CUB
                        <input type="text" list="tipo_cub" name="tipo_cub" id="tipo_cub" class="form-control">
                        <datalist id= "tipo_cub">
                            <option value="2121">2121</option>
                            <option value="222">2222</option>
                        </datalist>
                    </td>
                </div>
            </div>
            <!--Fim campo CUB-->

            <!--Inicio campo GAV-->
            <div class="col-sm-2" >
                <div class="form-group mb-4">
                    <td  for="tipo_gav">
                        GAV
                        <input type="text" list="tipo_os" name="tipo_gav" id="tipo_doc" class="form-control">
                        <datalist id="tipo_gav">
                            <option value="2123" >2123</option>
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                        </datalist>
                    </td>
                </div>
            </div>   
            <!--Fim campo GAV-->
            <br>   
            <br>
            <br>
            <center><b><h7> DESTINO </h7></b></center>
            <!--Inicio barra central 1-->
            <div class="col-sm-12">
                <div style="border-top: 2px solid rgb(161, 158, 158); margin-top: 15px;"></div>
            </div>
            <!--Fim barra central 1-->
            <br>
            <!--Inicio campo sub-area-->
            <div class="col-sm-2">
                <div class="form-group mb-4">
                    <td for="tipo_subarea">
                        Sub-Area
                        <input type="text" list="tipo_subarea" name="tipo_subarea" id="subarea" class="form-control">
                        <datalist id="tipo_subarea">
                            <option value="2123" >2123</option>
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>  
                        </datalist>   
                    </td>
                </div>
            </div>
            <!--Fim campo subarea-->

            <!--Inicio campo funcao-->
            <div class="col-sm-2"  >
                <div class="form-group mb-4">
                    <td  for="tipo_funcao">
                        Função
                        <input type="text" list="tipo_funcao" name="tipo_funcao" id="tipo_funcao" class="form-control">
                        <datalist id="tipo_funcao">
                            <option value="2123" >2123</option>
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                        </datalist>
                    </td>
                </div>
            </div>
            <!--Fim campo funcao-->

            <!--Inicio campo sequencial-->
            <div class="col-sm-2" >
                <div class="form-group mb-4">
                    <td  for="tipo_sequencial">
                        Sequencial
                        <input type="text" list="tipo_sequencial" name="tipo_sequencial" id="tipo_sequencial" class="form-control">
                        <datalist id="tipo_os">
                            <option value="2123" >2123</option>
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                        </datalist>
                    </td>
                </div>
            </div>
            <!--Fim campo sequencial-->
            <br>
            <!--Inicio campo serviço-->
            <div class="col-sm-2" style="margin-top: -25px;">
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número do serviço">Serviço
                        <input type="text" required class="form-control" id="os-project-num">
                    </td>   
                </div>
            </div>
            <!--Fim campo serviço-->
            <br>
            <!--Inicio campo service-->
            <div class="col-sm-2" style="margin-top: -45px;">
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número do service">Service
                        <input type="text" required class="form-control" id="os-project-num">
                    </td>   
                </div>
            </div>
            <!--Fim campo service-->
            <br>
            <!--Inicio campo Fluxograma-->
            <div class="col-sm-3">
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número do fluxograma">Fluxograma n°
                        <input type="text" required class="form-control" id="os-project-num">
                    </td>   
                </div>
            </div>
            <!--Fim campo Fluxograma-->

            <!--Inicio campo Tag Cliente-->
            <div class="col-sm-2" style= "float: right; margin-top: -160px;">
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número da Tag">Tag Cliente
                        <input type="text" required class="form-control" id="os-project-num">
                    </td>   
                </div>
            </div>
            <!--Fim campo Tag Cliente-->

            <!--Inicio barra 2-->
            <div class="col-sm-12">
                <center><b><h7> DADOS MOTOR / CARGA </h7></b></center>
                <br>
                <br>
                <div style="border-top: 2px solid rgb(161, 158, 158); margin-top: -35px;"></div>
            </div>
            <!--Fim barra 2-->
            <br>
            <!--Inicio bloco pot-->
            <div class="col-sm-2" style="margin-top: -12px;">
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número do pot">Pot (KW)
                        <input type="text" required class="form-control" id="os-project-num">
                    </td>
                </div>
            </div>     
            <!--Fim bloco pot-->
            
            <!--Inicio do bloco corrente-->
            <div class="col-sm-2" style="margin-top: -12px;">
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número da corrente">Corrente(A)
                        <input type="text" required class="form-control" id="os-project-num" >
                    </td>    
                </div> 
            </div>
            <!--Fim do bloco corrente-->
            
            <!--Inicio do bloco Tensao-->
            <div class="col-sm-2" style="margin-top: -12px;">
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número da tensão">Tensão(V)
                        <input type="text" required class="form-control" id="os-project-num" >
                    </td>    
                </div> 
            </div>
            <!--Fim do bloco Tensao-->
            <br>
            <!--Inicio do bloco status-->
            <div class="col-sm-2"  style="margin-top: -33px;" >
                <div class="form-group mb-4">
                    <td for="tipo_status">
                        Status
                        <input type="text" list="tipo_status" name="tipo_status" id="tipo_status1" class="form-control">
                        <datalist id="tipo_status">
                            <option value="2123" >2123</option>
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                        </datalist>
                    </td>
                </div>
            </div>
            <!--Fim do bloco status-->

            <!--Inicio do bloco rot-->
            <div class="col-sm-2" style="margin-top: -33px;">
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número do rot">Rot (rpm)
                        <input type="text" required class="form-control" id="os-project-num" >
                    </td>
                </div>
            </div>
            <!--Fim do bloco rot-->
            
            <!--Inicio do bloco polos-->
            <div class="col-sm-2" style="margin-top: -33px;">
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número do polos">N° Polos
                        <input type="text" required class="form-control" id="os-project-num" >
                    </td>
                </div>
            </div>
            <!--Fim do bloco polos-->
            <br>
            <!--Inicio do bloco carcaça-->
            <div class="col-sm-2">
                <div class="form-group mb-4">
                    <td for="tipo_subarea">
                        Carcaça
                        <input type="text" list="tipo_subarea" name="tipo_subarea" id="subarea" class="form-control">
                        <datalist id="tipo_subarea">
                            <option value="2123" >2123</option>
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>  
                        </datalist>   
                    </td>
                </div>
            </div>
            <!--Fim do bloco carcaça-->
            
            <!--Inicio do bloco Gr. Proteção-->
            <div class="col-sm-2" style="float: left;">
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número do Gr. Proteção">Proteção
                        <input type="text" required class="form-control" id="os-project-num" >
                    </td>
                </div>
            </div>
            <!--Fim do bloco Gr. Proteção-->

            <!--Inicio do bloco IP/IN-->
            <div class="col-sm-2" >
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número do IP/IN">IP/IN
                        <input type="text" required class="form-control" id="os-project-num" >
                    </td>
                </div>
            </div>
            <!--Fim do bloco IP/IN-->
            <br>
            <!--Inicio do bloco T. Partida-->
            <div class="col-sm-2"  >
                <div class="form-group mb-4">
                    <td  for="tipo_partida">
                        T. Partida
                        <input type="text" list="tipo_partida" name="tipo_partida" id="tipo_partida" class="form-control">
                        <datalist id="tipo_partida">
                            <option value="2123" >2123</option>
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                            <option value="2121" >2121</option>​​​​​​​​
                            <option value="2020" >2020</option>
                            <option value="2121" >2121</option>
                        </datalist>
                    </td>
                </div>
            </div>
            <!--Fim do bloco T. Partida-->

            <!--Inicio do bloco Fornecedor-->
            <div class="col-sm-2" >
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número do Fornecedor">Fornecedor
                        <input type="text" required class="form-control" id="os-project-num" >
                    </td>
                </div>
            </div>
            <!--Fim do bloco Fornecedor-->

            <!--Inicio do bloco Tipo Rotor-->
            <div class="col-sm-2" >
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número do Fornecedor">Tipo Rotor
                        <input type="text" required class="form-control" id="os-project-num" >
                    </td>
                </div>
            </div>
            <!--Fim do bloco Tipo Rotor-->
            <br>
            <!--Inicio do bloco Sinais de Controle-->
            <div class="col-sm-3">
                <div class="form-group mb-4">
                    <td>Sinais de Controle
                        <textarea required class="form-control" > </textarea>
                    </td>
                </div>
            </div>
            <!--Fim do Sinais de Controle-->

            <!--Inicio do bloco Acessórios (Motor)-->
            <div class="col-sm-3" style="margin-left: 170px; margin-top: -120px;">
                <div class="form-group mb-4">
                    <td>Acessórios(Motor)
                        <textarea required class="form-control" > </textarea>
                    </td>
                </div>
            </div>
            <!--Fim do bloco Acessórios (Motor)-->

            <!--Inicio do bloco Forma Constr.-->
            <div class="col-sm-3" style="margin-left: 335px; margin-top: -120px;" >
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número do Forma Constr.">Forma Constr.
                        <input type="text" required class="form-control" id="os-project-num" >
                    </td>
                </div>
            </div>
            <!--Fim do bloco Forma Constr.-->

            <!--Inicio do bloco Fabricante-->
            <div class="col-sm-3" style="float: right; margin-top: -80px;">
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número do Fabricante">Fabricante
                        <input type="text" required class="form-control" id="os-project-num" >
                    </td>
                </div>
            </div>
            <!--Fim do bloco Fabricante-->
            <br>
            <!--Inicio do bloco Revisão-->
            <div class="col-sm-3" style="margin-left: 175px; " >
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número de Revisão">Revisão
                        <input type="text" required class="form-control" id="os-project-num" >
                    </td>
                </div>
            </div>
            <!--Fim do bloco Revisão-->

            <!--Inicio do bloco Det. Típico-->
            <div class="col-sm-3" style="margin-top: -80px;">
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número de Det. Típico">Det. Típico
                        <input type="text" required class="form-control" id="os-project-num" >
                    </td>
                </div>
            </div>
            <!--Fim do bloco Det. Típico-->

            <!--Inicio do bloco ID.Carga-->
            <div class="col-sm-3"  >
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número de Det. Típico">ID.Carga
                        <input type="text" required class="form-control" id="os-project-num" >
                    </td>
                </div>
            </div>
            <!--Fim do bloco ID.Carga-->
            
            <!--Inicio do bloco Revisão-->
            <div class="col-sm-12" style="float: left;">
                <input type="checkbox" name="sinais" value="True"><span class = "select-text"> Cabos de Sinais e Controle - TAG do Sinal </span><br>
                <input type="checkbox" name="baterias" value="True"><span class = "select-text"> Cabo para alim. BANCO DE BATERIAS </span><br>
                <input type="checkbox"  name="motor" value="True"><span class = "select-text" > Motor cancelado </span><br><br>
            </div>
            <!--Fim do bloco Revisão-->
            <br>
            <br>
            <!--Inicio do bloco Observação-->
            <div class="col-sm-7"  >
                <div class="form-group mb-4">
                    <td placeholder="Digite aqui" data-toggle="" title="Inserir número de Det. Típico">Observação
                        <input type="text" required class="form-control" id="os-project-num" >
                        <input type="checkbox" name="english" value="True"><span class = "select-text"> Gerar cabo de Alimentação </span>
                    </td>
                </div>
            </div>
            <!--Fim do bloco Observação-->
        </div>
    </div>
</div>