
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal-center-n-abs {
    margin: 5px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}


.pesquisaSistema {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.pesquisaSistema td, #pesquisaSistema th {
    border: 1px solid #ddd;
    padding: 8px;
}

.pesquisaSistema td:nth-child(even) {
    background-color: #f2f2f2;
}

.pesquisaSistema td:hover {
    background-color: #ddd;
}

.pesquisaSistema th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #343a40;
    color: white;
}

div-border {
    border-style: groove;
    border-color: coral;
    border-width: 7px;
}

.dochead {

    background-color: #53585e;
    height: 45px;

    font: 24px Arial, Geneva, sans-serif;
    color: #FFF;
    /* width: 385px; */
    width: 80%;
    margin-left: -30px;
}

.docheadFilho {

    background-color: #7e8081;
    height: 25px;
    font: 20px Arial, Geneva, sans-serif;
    color: #FFF;
    /* width: 385px; */
    width: 80%;
    margin-left: -10px;

}

.docheadFilho span {
    margin-left: 30px;

}

.dochead span {
    margin-left: 20px;
}

.dhead {
    line-height: 45px;
}

.dheadFilho {
    line-height: 25px;

}

.document {
    background-color: rgb(221, 218, 218);
    width: 615px;
    background-origin: content-box;


}

.dcontent {
    font: 16px Tahoma, Geneva, sans-serif;
    line-height: normal;
    color: #1f1e1e;
    margin-top: 20px;
    line-height: 23px;
    margin-left: 15px;
    margin-right: 15px;
    letter-spacing: 1px;


}

.BotaoInfDireito {

    height: 39px;
    margin-right: 25px;
    margin-top: 15px;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 0.9fr 1.4fr 0.9fr;
    grid-template-rows: 1fr 1.3fr 0.7fr;
    gap: 0px 0px;
    grid-template-areas:
    "Modelo3DView Modelo3DView Modelo3DView DadosLaterais"
    "Modelo3DView Modelo3DView Modelo3DView DadosLaterais"
    "DadosInferiores DadosInferiores DadosInferiores DadosLaterais";

}

.Modelo3DView {
    grid-area: Modelo3DView;
}

.DadosLaterais {
    grid-area: DadosLaterais;
}

.DadosInferiores {
    grid-area: DadosInferiores;
}

#my_file {
    display: none;
}

#get_file {
    background: #f9f9f9;
    border: 1px solid #88c;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

#customfileupload {
    display: inline;
    background-color: #fff;
    font-size: 14px;
    padding: 10px 30px 10px 10px;
    width: 250px;
    border: 1px solid #999;
    box-shadow: inset 1px 1px 5px #ccc;
    -webkit-box-shadow: inset 1px 1px 5px #ccc;
    -moz-box-shadow: inset 0px 0px 4px #ccc;
    -ms-box-shadow: inset 0px 0px 4px #ccc;
    -o-box-shadow: inset 0px 0px 4px #ccc;
    z-index: 1;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}

.not-visible {
    display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "+";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    content: "-";
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

/*****************BOOTSTRAP TABLE********************/

.dropdown-filter-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-filter-icon {
    margin-left: 5px;
    line-height: 1.3;
    border: 1px solid black;
}

.dropdown-filter-icon:hover {
    cursor: pointer;
}

.checkbox-container {
    max-height: 400px;
    overflow-y: scroll;
}

.dropdown-filter-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.dropdown-filter-content div {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.dropdown-filter-content div.dropdown-filter-search {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid black;
    width: 90%;
    height: 10px;
}

.dropdown-filter-content div.dropdown-filter-sort {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-filter-content div.dropdown-filter-sort:hover {
    background-color: #e1e5e7;
    cursor: pointer;
}

.dropdown-filter-content div.dropdown-filter-sort span {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000000;
}

.arrow-down {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropdown-filter-item {
    color: black !important;
    text-align: left;
}

.inputTabela {
    width: 100%;
    height: 100%;
    text-align: center;
}

